#map
{
    width:100%;
}
.img {
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#bottom
{
    display: flex;
    flex-direction: row;
    justify-content: center
}





#map
{
    height: 400px
}



.transport-container {
    /* background-color: aqua; */
}

.accomodation-container {
    /* background-color: brown; */
}

#remainingBudget {
  cursor: default; 
}

#budgetContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

